body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 95;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    color: #fff;
}

#snake {
    border-radius: 10px;
}